@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joel Hilton Film Collection</h1>
    <img src="~/JoelHiltonHeadshot.jpg" alt="Description of the image" />
    
    <br/>
    <br/>
    <a asp-controller="Home" asp-action="MovieForm">Add a Movie</a>

</div>


