@{
    ViewData["Title"] = "Get to Know Joel";
}

@* This is the second page called get to know joel *@

<div class="text-center">

<h1>@ViewData["Title"]</h1>

@* Two links that take the user to where Joel performs *@
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br/>

<a href="https://baconsale.com/">Baconsale</a>

<br/>

    <div>
        <!-- Clicking on the image will open the website in a new tab -->
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/BaconsaleKate.jpg" alt="Example Image" class="img-responsive" />
        </a>
    </div>
</div>
