@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    @* Title of the home page and image of Joel*@
    <h1 class="display-4">Joel Hilton Film Collection</h1>
    <img src="~/JoelHiltonHeadshot.jpg" alt="Description of the image"/>

    <br/>
    <br/>
    @* a tag link that follows the home controller and once clicked will go to the movie form *@
    <a asp-controller="Home" asp-action="MovieForm">Add a Movie</a>

</div>


